Repository edg1000/https-github.com-godotengine-godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java|glsl)$
        types_or: [text]
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*
          )

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
        files: (\.py$|SConstruct|SCsub)
        types_or: [text]
        exclude: .*thirdparty.*
        args:
          - --line-length=120

  - repo: https://github.com/codespell-project/codespell
    rev: 9061d95aa
    hooks:
      - id: codespell
        types_or: [text]
        exclude: |
          (?x)^(
            \..*|
            .*thirdparty.*|
            .*\.desktop|
            .*\.po|
            AUTHORS\.md|
            DONORS\.md|
            core/input/gamecontrollerdb\.txt|
            core/string/locales\.h|
            misc/scripts/codespell_ignore_list.txt|
            platform/android/java/lib/src/com/.*|
            platform/web/node_modules/.*|
            platform/web/package-lock\.json
          )
        args:
          - -w
          - -q 8
          - -Imisc/scripts/codespell_ignore_list.txt
          - --builtin "clear,rare,en-GB_to_en-US"

  - repo: local
    hooks:
      - id: make-rst
        name: make-rst
        entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
        pass_filenames: false
        language: python
        files: ^(doc|modules|platform).*xml$

      - id: copyright-headers
        name: copyright-headers
        language: python
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$
        entry: python3 misc/scripts/copyright_headers.py
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
            platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
          )

git subrepo push modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
Due: none

Format code.
  modules/many_bone_ik/src/ik_bone_segment_3d.cpp
Due: copyright-headers

Update documentation for a new Inverse Kinematics algorithm (EWBIK)
  modules/many_bone_ik/design_docs/EWBIK A Highly General, Fast, Constrainable, and Stable Inverse Kinematics algorithm.md
  modules/many_bone_ik/design_docs/EWBIK A Highly General, Fast, Constrainable, and Stable Inverse Kinematics algorithm.odt
  modules/many_bone_ik/design_docs/Pictures/1000000000000139000000CB22CAE13E99E3E24B.png
  modules/many_bone_ik/design_docs/Pictures/1000000000000139000000CB360C51B9B2145043.png
  modules/many_bone_ik/design_docs/Pictures/1000000000000139000000CBF393B4C3206D97F3.png
  modules/many_bone_ik/design_docs/Pictures/100000000000016C000002AAA2059A0E43B2B468.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E1025A91C2576C186.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E173E86C323891A74.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E6996B4A5DF706332.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E832AFC8FF38BF53F.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E845771BD15F39314.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E853FACED42A51700.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018E9D87E7B297A94C9F.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018EA6B7A87AEB9D9F40.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018EBC567E962B9B4C87.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018ECB3181C74F9EDC35.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018ED76B18851DB9DC34.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018EDE8A6B18141900B0.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018EDF01F2A95A1519D7.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018EE63F4ECE1A82B606.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002070000018EEE6FC1E017012EDA.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002C90000027876C8370C9358FB94.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002C900000278AEBB2DF17488D353.png
  modules/many_bone_ik/design_docs/Pictures/10000000000002C900000278EEE925F5104E07BE.png
  modules/many_bone_ik/design_docs/Pictures/10000000000004000000040014FDC3377E0AD7E4.png
  modules/many_bone_ik/design_docs/Pictures/1000000000000400000004007DA1871E5E883934.png
  modules/many_bone_ik/design_docs/Pictures/10000201000002020000018EF75E743EDC6A705E.png
  modules/many_bone_ik/design_docs/Pictures/1000020100000286000001D10AA6EC3093AC56D5.png
  modules/many_bone_ik/design_docs/Pictures/100002010000030D0000026B7F70BE2E85BEF4BE.png
Due: none

Update the docs.
  modules/many_bone_ik/design_docs/EWBIK A Highly General, Fast, Constrainable, and Stable Inverse Kinematics algorithm.md
Due: none

Removed AUTHORS.md and ik_box_test_procedure.md
  modules/many_bone_ik/design_docs/AUTHORS.md
  modules/many_bone_ik/design_docs/EWBIK A Highly General, Fast, Constrainable, and Stable Inverse Kinematics algorithm.md
  modules/many_bone_ik/design_docs/ik_box_test_procedure.md
Due: none

Removed many_bone_ik misc files.
  modules/many_bone_ik/.gitignore
  modules/many_bone_ik/AUTHORS.md
  modules/many_bone_ik/README.md
Due: none

Renamed IK algorithm design doc to readme
  modules/many_bone_ik/design_docs/readme.md
Due: none

git subrepo pull modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
Due: copyright-headers

git subrepo pull modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/src/ik_bone_segment_3d.cpp
  modules/many_bone_ik/src/ik_bone_segment_3d.h
  modules/many_bone_ik/src/ik_effector_3d.cpp
  modules/many_bone_ik/src/ik_kusudama_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: copyright-headers

git subrepo pull (merge) modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/src/ik_effector_3d.cpp
Due: copyright-headers

Add filename filter field to EditorFileDialog and FileDialog
  doc/classes/EditorFileDialog.xml
  doc/classes/FileDialog.xml
  editor/gui/editor_file_dialog.cpp
  editor/gui/editor_file_dialog.h
  editor/icons/FilenameFilter.svg
  scene/gui/file_dialog.cpp
  scene/gui/file_dialog.h
  scene/theme/default_theme.cpp
  scene/theme/icons/toggle_filename_filter.svg
Due: make-rst, copyright-headers

git subrepo pull (merge) modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/src/ik_effector_3d.cpp
  modules/many_bone_ik/src/ik_effector_3d.h
  modules/many_bone_ik/src/ik_effector_template_3d.h
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: copyright-headers

Refactor notification handling for local transform change
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
Due: copyright-headers

git subrepo pull modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
Due: none

git subrepo pull (merge) modules/many_bone_ik
  modules/many_bone_ik/.github/file_format.sh
  modules/many_bone_ik/.github/workflows/scripts/clang_format.sh
  modules/many_bone_ik/.github/workflows/scripts/file_format.sh
  modules/many_bone_ik/.github/workflows/static_checks.yml
  modules/many_bone_ik/.gitrepo
Due: none

git subrepo pull modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: copyright-headers

git subrepo pull (merge) modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
Due: copyright-headers

Update documentation to avoid cicd error.
  modules/many_bone_ik/doc_classes/ManyBoneIK3D.xml
Due: make-rst

ManyBoneIK3D extends public SkeletonModifier3D
  modules/many_bone_ik/doc_classes/ManyBoneIK3D.xml
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: make-rst, copyright-headers

Should not mix up the usage as an editor with the usage as an effector
  modules/many_bone_ik/doc_classes/ManyBoneIK3D.xml
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: make-rst, copyright-headers

Remove redundant bone relationship functions. Refactor pin-related methods.
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: copyright-headers

add is_active() methods to physics servers
  doc/classes/PhysicsServer2D.xml
  doc/classes/PhysicsServer2DExtension.xml
  doc/classes/PhysicsServer3D.xml
  doc/classes/PhysicsServer3DExtension.xml
  servers/extensions/physics_server_2d_extension.cpp
  servers/extensions/physics_server_2d_extension.h
  servers/extensions/physics_server_3d_extension.cpp
  servers/extensions/physics_server_3d_extension.h
  servers/physics_2d/godot_physics_server_2d.h
  servers/physics_3d/godot_physics_server_3d.h
  servers/physics_server_2d.cpp
  servers/physics_server_2d.h
  servers/physics_server_2d_wrap_mt.h
  servers/physics_server_3d.cpp
  servers/physics_server_3d.h
  servers/physics_server_3d_wrap_mt.h
Due: make-rst, copyright-headers

Add PackedSourceDirectory
  core/config/project_settings.cpp
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
Due: copyright-headers

Fix formatting
  core/config/project_settings.cpp
  core/io/file_access_pack.cpp
Due: copyright-headers

Fix another formatting error
  core/io/file_access_pack.h
Due: copyright-headers

Check for non-empty resource folder instead of editor build
  core/config/project_settings.cpp
Due: copyright-headers

Remove unnecessary print_line
  core/io/file_access_pack.cpp
Due: copyright-headers

Allow constructing Quat from two Vector3s
  core/variant_call.cpp
  doc/classes/Vector3.xml
Due: make-rst, copyright-headers

Register the export info correctly when a script type is used to export a custom Node variable
  modules/gdscript/gdscript_parser.cpp
Due: copyright-headers

Update modules/share/godot_share_data.mm
  modules/share/godot_share_data.h
  modules/share/godot_share_data.mm
Due: copyright-headers

Static allocation bones copy for SkeletonModifier
  scene/3d/skeleton_3d.cpp
  scene/3d/skeleton_3d.h
Due: copyright-headers

Prevent user access to internal function and include hidden directories/files
  core/config/project_settings.cpp
  core/io/file_access_pack.cpp
Due: copyright-headers
