Repository edg1000/https-github.com-godotengine-godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

make-rst:
  name: make-rst
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false
  language: python

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

Document edge case behavior
  doc/classes/ProjectSettings.xml
Due: make-rst

Add documentation explaining functions
  doc/classes/EditorPlugin.xml
Due: make-rst

Use tabs instead of spaces
  doc/classes/EditorPlugin.xml
Due: make-rst

Update comment to reflect relevance for Android builds
  core/config/project_settings.cpp
Due: copyright-headers

Add missing word to documentation
  doc/classes/ProjectSettings.xml
Due: make-rst

Add a Reference Cycle Breaker
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.cpp
  core/object/object.h
  core/object/script_instance.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/variant/array.cpp
  core/variant/array.h
  core/variant/dictionary.cpp
  core/variant/dictionary.h
  core/variant/variant.cpp
  core/variant/variant.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  scene/main/node.cpp
  scene/main/node.h
  scene/main/scene_tree.cpp
  scene/main/scene_tree.h
  servers/audio_server.cpp
  servers/audio_server.h
Due: copyright-headers

Fix style check errors
  doc/classes/EditorPlugin.xml
Due: make-rst

Add get_api_type method to ClassDB
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ClassDB.xml
Due: make-rst, copyright-headers

Update core_bind.cpp
  core/core_bind.cpp
Due: copyright-headers

Fix APIType enum name and docs in ClassDB
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ClassDB.xml
Due: make-rst, copyright-headers

Fix typo in ClassDB documentation
  doc/classes/ClassDB.xml
Due: make-rst

Fix APIType enum name
  core/core_bind.cpp
Due: copyright-headers

Refactor ClassDB::get_api_type method in core_bind.cpp
  core/core_bind.cpp
Due: copyright-headers

[VisualShader] Add reroute node and improve port drawing
  doc/classes/GraphNode.xml
  doc/classes/VisualShaderNodeReroute.xml
  editor/plugins/visual_shader_editor_plugin.cpp
  editor/plugins/visual_shader_editor_plugin.h
  editor/themes/editor_theme_manager.cpp
  scene/gui/graph_edit.cpp
  scene/gui/graph_node.cpp
  scene/gui/graph_node.h
  scene/register_scene_types.cpp
  scene/resources/visual_shader.cpp
  scene/resources/visual_shader_nodes.cpp
  scene/resources/visual_shader_nodes.h
Due: make-rst, copyright-headers

Refactor ClassDB::get_api_type method and fix APIType enum name
  core/core_bind.cpp
  core/core_bind.h
  doc/classes/ClassDB.xml
Due: make-rst, copyright-headers

Optimize Hash Map
  core/templates/hash_map.h
Due: copyright-headers

Add update mechanism to particle emission shape gizmo by using signals
  editor/plugins/gizmos/gpu_particles_3d_emission_shape_gizmo_plugin.cpp
  editor/plugins/gizmos/gpu_particles_3d_emission_shape_gizmo_plugin.h
  scene/3d/gpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Due: copyright-headers

Add TextEdit option to prevent copying without a selection
  doc/classes/EditorSettings.xml
  doc/classes/TextEdit.xml
  editor/code_editor.cpp
  editor/editor_settings.cpp
  scene/gui/text_edit.cpp
  scene/gui/text_edit.h
Due: make-rst, copyright-headers

Add Camera3D preview in Inspector
  editor/plugins/camera_3d_editor_plugin.cpp
  editor/plugins/camera_3d_editor_plugin.h
Due: copyright-headers

[Navigation] Restore 2D only navigation
  modules/navigation/3d/godot_navigation_server_3d.cpp
  modules/navigation/3d/godot_navigation_server_3d.h
  modules/navigation/SCsub
  modules/navigation/config.py
  tests/test_main.cpp
Due: copyright-headers

Fix editor crash when shader has incorrect global array declaratio
  servers/rendering/shader_compiler.cpp
  servers/rendering/shader_language.cpp
Due: copyright-headers

[Windows] Use `GetFileTime` for `FileAccess`
  drivers/windows/file_access_windows.cpp
Due: copyright-headers

Add linux camera support
  .github/workflows/codespell_exclude_file.txt
  .github/workflows/static_checks.yml
  doc/classes/CameraFeed.xml
  doc/classes/CameraServer.xml
  modules/camera/SCsub
  modules/camera/buffer_decoder.cpp
  modules/camera/buffer_decoder.h
  modules/camera/camera_feed_linux.cpp
  modules/camera/camera_feed_linux.h
  modules/camera/camera_linux.cpp
  modules/camera/camera_linux.h
  modules/camera/config.py
  scene/resources/camera_texture.cpp
  scene/resources/camera_texture.h
  servers/camera/camera_feed.cpp
  servers/camera/camera_feed.h
Due: make-rst, copyright-headers

Implement a patch system.
  core/io/file_access_pack.cpp
  core/io/file_access_pack.h
  editor/editor_node.cpp
  editor/editor_node.h
  editor/export/editor_export.cpp
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_preset.cpp
  editor/export/editor_export_preset.h
  editor/export/project_export.cpp
  editor/export/project_export.h
  main/main.cpp
Due: copyright-headers

Fix ring emission shape orientation with axis application
  editor/plugins/gizmos/gpu_particles_3d_emission_shape_gizmo_plugin.cpp
Due: copyright-headers

Expose several ScriptDebugger methods
  core/core_bind.cpp
  core/core_bind.h
  core/object/script_language_extension.cpp
  core/register_core_types.cpp
  doc/classes/EditorDebuggerSession.xml
  doc/classes/EngineDebugger.xml
  doc/classes/ScriptDebugger.xml
  doc/classes/ScriptLanguageExtension.xml
  editor/plugins/editor_debugger_plugin.cpp
  editor/plugins/editor_debugger_plugin.h
Due: make-rst, copyright-headers

Unify the 3d model importers' tangent generation.
  editor/import/3d/editor_import_collada.cpp
  editor/import/3d/resource_importer_obj.cpp
  editor/import/3d/resource_importer_scene.cpp
  editor/import/3d/resource_importer_scene.h
  modules/fbx/fbx_document.cpp
  modules/gltf/gltf_document.cpp
  scene/resources/3d/importer_mesh.cpp
  scene/resources/3d/importer_mesh.h
  scene/resources/surface_tool.cpp
  servers/rendering_server.cpp
Due: copyright-headers

Update MTLXLoader inheritance to RefCounted class
  modules/mtlx/doc_classes/MTLXLoader.xml
  modules/mtlx/material_x_3d.h
Due: make-rst, copyright-headers

Update license information in register_types.h.
  modules/mtlx/register_types.h
Due: copyright-headers

Remove unused submodules and dependencies.
  modules/mtlx/thirdparty/mtlx/.gitmodules
Due: none

Path conditions:
  make-rst: any of: ^(doc|modules|platform).*xml$
  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$, but not: (?x)^(
  tests/python_build.*|
  .*thirdparty.*|
  .*platform/android/java/lib/src/com.*|
  .*-so_wrap.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
)

