Repository edg1000/https-github.com-godotengine-godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java|glsl)$
        types_or: [text]
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*
          )

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.2.0
    hooks:
      - id: black
        files: (\.py$|SConstruct|SCsub)
        types_or: [text]
        exclude: .*thirdparty.*
        args:
          - --line-length=120

  - repo: https://github.com/codespell-project/codespell
    rev: 9061d95aa
    hooks:
      - id: codespell
        types_or: [text]
        exclude: |
          (?x)^(
            \..*|
            .*thirdparty.*|
            .*\.desktop|
            .*\.po|
            AUTHORS\.md|
            DONORS\.md|
            core/input/gamecontrollerdb\.txt|
            core/string/locales\.h|
            misc/scripts/codespell_ignore_list.txt|
            platform/android/java/lib/src/com/.*|
            platform/web/node_modules/.*|
            platform/web/package-lock\.json
          )
        args:
          - -w
          - -q 8
          - -Imisc/scripts/codespell_ignore_list.txt
          - --builtin "clear,rare,en-GB_to_en-US"

  - repo: local
    hooks:
      - id: make-rst
        name: make-rst
        entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
        pass_filenames: false
        language: python
        files: ^(doc|modules|platform).*xml$

      - id: copyright-headers
        name: copyright-headers
        language: python
        files: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$
        entry: python3 misc/scripts/copyright_headers.py
        exclude: |
          (?x)^(
            tests/python_build.*|
            .*thirdparty.*|
            .*platform/android/java/lib/src/com.*|
            .*-so_wrap.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
            platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
            platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
          )

Add const char * overloads to String class
  core/string/ustring.cpp
  core/string/ustring.h
  core/variant/variant_call.cpp
  tests/core/string/test_string.h
  tests/test_macros.h
Due: copyright-headers

Add an annotation for abstract classes in GDScript
  doc/classes/ScriptExtension.xml
  editor/create_dialog.cpp
  modules/gdscript/doc_classes/@GDScript.xml
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_analyzer.cpp
  modules/gdscript/gdscript_compiler.cpp
  modules/gdscript/gdscript_parser.cpp
  modules/gdscript/gdscript_parser.h
  modules/gdscript/tests/scripts/analyzer/errors/construct_abstract_class.gd
  modules/gdscript/tests/scripts/analyzer/errors/construct_abstract_class.out
  modules/gdscript/tests/scripts/analyzer/errors/construct_abstract_script.gd
  modules/gdscript/tests/scripts/analyzer/errors/construct_abstract_script.notest.gd
  modules/gdscript/tests/scripts/analyzer/errors/construct_abstract_script.out
  modules/gdscript/tests/scripts/analyzer/errors/duplicate_abstract.gd
  modules/gdscript/tests/scripts/analyzer/errors/duplicate_abstract.out
  modules/gdscript/tests/scripts/analyzer/features/extend_abstract_class.gd
Due: make-rst, copyright-headers

Add `animation_looped` signal to AnimationMixer
  doc/classes/AnimationMixer.xml
  scene/animation/animation_blend_tree.cpp
  scene/animation/animation_mixer.cpp
  scene/animation/animation_player.cpp
  scene/scene_string_names.cpp
  scene/scene_string_names.h
Due: make-rst, copyright-headers

Avoid resizing images in etcpak and clean up the code
  modules/etcpak/image_compress_etcpak.cpp
Due: copyright-headers

Wayland: Workaround API limitation in screen/UI scale logic
  doc/classes/DisplayServer.xml
  editor/editor_settings.cpp
  platform/linuxbsd/wayland/display_server_wayland.cpp
Due: make-rst, copyright-headers

Fix crash when extending taken-over named class
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript_compiler.cpp
Due: copyright-headers

[Editor] Allow selecting instanced scenes with select list
  editor/plugins/node_3d_editor_plugin.cpp
Due: copyright-headers

Add optimization for generating tangents in mikktspace.
  modules/csg/csg_shape.cpp
  modules/csg/csg_shape.h
  scene/resources/surface_tool.cpp
  scene/resources/surface_tool.h
  thirdparty/README.md
  thirdparty/misc/mikktspace.c
  thirdparty/misc/mikktspace.h
  thirdparty/misc/patches/mikktspace-godot.patch
Due: copyright-headers

Expose `Vector*` component-wise `min/max` to scripting
  core/variant/variant_call.cpp
  doc/classes/Vector2.xml
  doc/classes/Vector2i.xml
  doc/classes/Vector3.xml
  doc/classes/Vector3i.xml
  doc/classes/Vector4.xml
  doc/classes/Vector4i.xml
  modules/mono/glue/GodotSharp/GodotSharp/Core/Aabb.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Rect2I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector2I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector3I.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector4.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/Vector4I.cs
Due: make-rst, copyright-headers

Add note to `@GlobalScope.max/min` documentation
  doc/classes/@GlobalScope.xml
Due: make-rst

Don't save unnecessarily with save_before_running
  editor/editor_node.cpp
Due: copyright-headers

Implement support for bicubic lightmap filtering
  doc/classes/LightmapGIData.xml
  doc/classes/ProjectSettings.xml
  doc/classes/RenderingServer.xml
  drivers/gles3/rasterizer_scene_gles3.cpp
  drivers/gles3/rasterizer_scene_gles3.h
  drivers/gles3/shaders/scene.glsl
  editor/editor_node.cpp
  scene/3d/lightmap_gi.cpp
  scene/3d/lightmap_gi.h
  servers/rendering/dummy/rasterizer_scene_dummy.h
  servers/rendering/renderer_geometry_instance.h
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.cpp
  servers/rendering/renderer_rd/forward_clustered/render_forward_clustered.h
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.h
  servers/rendering/renderer_rd/renderer_scene_render_rd.cpp
  servers/rendering/renderer_rd/renderer_scene_render_rd.h
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered.glsl
  servers/rendering/renderer_rd/shaders/forward_clustered/scene_forward_clustered_inc.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile.glsl
  servers/rendering/renderer_rd/shaders/forward_mobile/scene_forward_mobile_inc.glsl
  servers/rendering/renderer_rd/storage_rd/render_data_rd.h
  servers/rendering/renderer_scene_cull.cpp
  servers/rendering/renderer_scene_cull.h
  servers/rendering/renderer_scene_render.h
  servers/rendering/rendering_method.h
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
Due: make-rst, copyright-headers

Fix #89695: Error message when removing only child from GraphNode
  scene/gui/graph_node.cpp
  tests/scene/test_graph_node.h
Due: copyright-headers

[Core] Fix `Variant::construct` of `Object`
  core/variant/variant_construct.h
  modules/gdscript/tests/scripts/runtime/errors/invalid_property_assignment.gd
  modules/gdscript/tests/scripts/runtime/errors/invalid_property_assignment.out
  modules/gdscript/tests/scripts/runtime/features/set_does_not_leak.gd
  modules/gdscript/tests/scripts/runtime/features/set_does_not_leak.out
Due: copyright-headers

Improve string extraction of ETR POT file
  editor/editor_translation.cpp
  editor/editor_translation.h
  editor/pot_generator.cpp
Due: copyright-headers

Updating the Gizmo by using signals
  scene/3d/gpu_particles_3d.cpp
  scene/resources/particle_process_material.cpp
Due: copyright-headers

Update ManyBoneIK3D class inheritance and method descriptions.
  modules/many_bone_ik/doc_classes/ManyBoneIK3D.xml
Due: make-rst

git subrepo push modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
Due: none

Add tips detection to bone mapper
  editor/plugins/bone_map_editor_plugin.cpp
  editor/plugins/bone_map_editor_plugin.h
Due: copyright-headers

git subrepo pull modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/doc_classes/ManyBoneIK3D.xml
  modules/many_bone_ik/editor/many_bone_ik_3d_gizmo_plugin.cpp
  modules/many_bone_ik/editor/many_bone_ik_3d_gizmo_plugin.h
  modules/many_bone_ik/editor/many_bone_ik_shader.h
  modules/many_bone_ik/register_types.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: make-rst, copyright-headers

git subrepo pull modules/many_bone_ik
  modules/many_bone_ik/.gitrepo
  modules/many_bone_ik/editor/many_bone_ik_shader.h
  modules/many_bone_ik/src/many_bone_ik_3d.cpp
  modules/many_bone_ik/src/many_bone_ik_3d.h
Due: copyright-headers

Updated inheritance of ManyBoneIK3D class
  modules/many_bone_ik/doc_classes/ManyBoneIK3D.xml
Due: make-rst

Format code.
  modules/many_bone_ik/src/ik_bone_3d.h
Due: copyright-headers

Use StringBuilder.
  modules/many_bone_ik/src/ik_bone_segment_3d.cpp
Due: copyright-headers

Typo.
  modules/many_bone_ik/src/ik_bone_segment_3d.cpp
Due: copyright-headers
