Repository edg1000/https-github.com-godotengine-godot: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-rst, copyright-headers

make-rst:
  name: make-rst
  entry: python3 doc/tools/make_rst.py doc/classes modules platform --dry-run --color
  pass_filenames: false
  language: python

copyright-headers:
  name: copyright-headers
  language: python
  entry: python3 misc/scripts/copyright_headers.py

Update style checks.
  modules/mtlx/MaterialXCore/Generated.h
  modules/mtlx/editor_material_material_x_plugin.h
  modules/mtlx/register_types.h
Due: copyright-headers

Delete MaterialXView
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/CMakeLists.txt
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/Editor.cpp
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/Editor.h
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/Main.cpp
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/RenderPipeline.h
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/RenderPipelineGL.cpp
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/RenderPipelineGL.h
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/RenderPipelineMetal.h
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/RenderPipelineMetal.mm
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/Viewer.cpp
  modules/mtlx/thirdparty/mtlx/source/MaterialXView/Viewer.h
Due: none

Audio: Write to device's buffer directly without temporary buffers.
  drivers/alsa/audio_driver_alsa.cpp
  drivers/alsa/audio_driver_alsa.h
  drivers/coreaudio/audio_driver_coreaudio.cpp
  drivers/coreaudio/audio_driver_coreaudio.h
  drivers/pulseaudio/audio_driver_pulseaudio.cpp
  drivers/pulseaudio/audio_driver_pulseaudio.h
  drivers/wasapi/audio_driver_wasapi.cpp
  drivers/wasapi/audio_driver_wasapi.h
  drivers/xaudio2/SCsub
  drivers/xaudio2/audio_driver_xaudio2.cpp
  drivers/xaudio2/audio_driver_xaudio2.h
  platform/android/audio_driver_opensl.cpp
  platform/android/audio_driver_opensl.h
  platform/web/audio_driver_web.cpp
  platform/web/audio_driver_web.h
  platform/web/js/libs/library_godot_audio.js
  servers/audio/audio_driver_dummy.cpp
  servers/audio/audio_driver_dummy.h
  servers/audio/audio_stream.cpp
  servers/audio_server.cpp
  servers/audio_server.h
  servers/movie_writer/movie_writer.cpp
Due: copyright-headers

Hash set optimize
  core/templates/hash_set.h
Due: copyright-headers

Optimize OAHash map
  core/templates/oa_hash_map.h
Due: copyright-headers

Add unlikely
  core/templates/oa_hash_map.h
Due: copyright-headers

Made OA key-value for less memory access
  core/templates/oa_hash_map.h
Due: copyright-headers

Added note to emission_box_extents
  doc/classes/ParticleProcessMaterial.xml
Due: make-rst

Refactor to always check which shape is currently active
  editor/plugins/gizmos/gpu_particles_3d_emission_shape_gizmo_plugin.cpp
Due: copyright-headers

Make seeking animation playback track consider internal seeking
  scene/animation/animation_mixer.cpp
Due: copyright-headers

Add debug utilities for Vulkan
  core/os/memory.cpp
  core/os/memory.h
  doc/classes/RenderingDevice.xml
  drivers/vulkan/rendering_context_driver_vulkan.cpp
  drivers/vulkan/rendering_context_driver_vulkan.h
  drivers/vulkan/rendering_device_driver_vulkan.cpp
  drivers/vulkan/rendering_device_driver_vulkan.h
  modules/lightmapper_rd/lightmapper_rd.cpp
  platform/android/rendering_context_driver_vulkan_android.cpp
  platform/ios/rendering_context_driver_vulkan_ios.mm
  platform/linuxbsd/x11/rendering_context_driver_vulkan_x11.cpp
  platform/windows/rendering_context_driver_vulkan_windows.cpp
  servers/rendering/renderer_rd/forward_mobile/render_forward_mobile.cpp
  servers/rendering/renderer_rd/renderer_canvas_render_rd.cpp
  servers/rendering/rendering_context_driver.cpp
  servers/rendering/rendering_context_driver.h
  servers/rendering/rendering_device.cpp
  servers/rendering/rendering_device.h
  servers/rendering/rendering_device_commons.h
  servers/rendering/rendering_device_driver.h
  servers/rendering/rendering_device_graph.cpp
  servers/rendering/rendering_device_graph.h
Due: make-rst, copyright-headers

Allow adding custom export platforms using scripts / GDExtension.
  doc/classes/EditorExportPlatform.xml
  doc/classes/EditorExportPlatformExtension.xml
  doc/classes/EditorExportPreset.xml
  doc/classes/EditorPlugin.xml
  doc/classes/ScriptEditor.xml
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/editor_run_native.cpp
  editor/export/editor_export.cpp
  editor/export/editor_export.h
  editor/export/editor_export_platform.cpp
  editor/export/editor_export_platform.h
  editor/export/editor_export_platform_extension.cpp
  editor/export/editor_export_platform_extension.h
  editor/export/editor_export_platform_pc.cpp
  editor/export/editor_export_platform_pc.h
  editor/export/editor_export_preset.cpp
  editor/export/editor_export_preset.h
  editor/plugins/script_editor_plugin.cpp
  editor/plugins/script_editor_plugin.h
  editor/register_editor_types.cpp
  platform/android/export/export_plugin.cpp
  platform/android/export/export_plugin.h
  platform/ios/export/export_plugin.cpp
  platform/ios/export/export_plugin.h
  platform/linuxbsd/export/export_plugin.cpp
  platform/linuxbsd/export/export_plugin.h
  platform/macos/export/export_plugin.cpp
  platform/macos/export/export_plugin.h
  platform/web/export/export_plugin.cpp
  platform/web/export/export_plugin.h
  platform/windows/export/export_plugin.cpp
  platform/windows/export/export_plugin.h
Due: make-rst, copyright-headers

Ability to print and log script backtraces
  core/error/error_macros.cpp
  core/io/logger.cpp
  core/io/logger.h
  core/object/script_language.cpp
  core/object/script_language.h
  core/os/os.cpp
  core/os/os.h
  core/variant/variant_utility.cpp
  core/variant/variant_utility.h
  doc/classes/@GlobalScope.xml
  drivers/unix/os_unix.cpp
  drivers/unix/os_unix.h
  modules/gdscript/gdscript.cpp
  modules/gdscript/gdscript.h
  modules/gdscript/gdscript_editor.cpp
  modules/gdscript/gdscript_vm.cpp
  platform/macos/macos_terminal_logger.h
  platform/macos/macos_terminal_logger.mm
  platform/windows/windows_terminal_logger.cpp
  platform/windows/windows_terminal_logger.h
Due: make-rst, copyright-headers

Remove rect from Path2D
  scene/2d/path_2d.cpp
  scene/2d/path_2d.h
Due: copyright-headers

Document AudioEffectSpectrumAnalyzerInstance, clarify relationship with AudioEffectSpectrumAnalyzer
  doc/classes/AudioEffectSpectrumAnalyzer.xml
  doc/classes/AudioEffectSpectrumAnalyzerInstance.xml
Due: make-rst

Resolve bind poses from FBX clusters instead of FBX poses.
  modules/fbx/fbx_document.cpp
Due: copyright-headers

Add editor setting to keep bottom panel state on play and stop game
  doc/classes/EditorSettings.xml
  editor/debugger/editor_debugger_node.cpp
  editor/editor_node.cpp
  editor/editor_settings.cpp
Due: make-rst, copyright-headers

Code style fix to _find_skin_cluster()
  modules/fbx/fbx_document.cpp
Due: copyright-headers

OpenXR: Change timing of xrWaitFrame and add thread safety features to OpenXR
  doc/classes/RenderingServer.xml
  doc/classes/XRServer.xml
  modules/openxr/doc_classes/OpenXRAPIExtension.xml
  modules/openxr/doc_classes/OpenXRInterface.xml
  modules/openxr/extensions/openxr_composition_layer_extension.cpp
  modules/openxr/extensions/openxr_hand_tracking_extension.cpp
  modules/openxr/openxr_api.cpp
  modules/openxr/openxr_api.h
  modules/openxr/openxr_api_extension.cpp
  modules/openxr/openxr_api_extension.h
  modules/openxr/openxr_interface.cpp
  modules/openxr/openxr_interface.h
  scene/main/viewport.cpp
  servers/rendering/rendering_server_default.h
  servers/rendering_server.cpp
  servers/rendering_server.h
  servers/xr/xr_interface.h
  servers/xr_server.cpp
  servers/xr_server.h
Due: make-rst, copyright-headers

Fix comment typo.
  modules/fbx/fbx_document.cpp
Due: copyright-headers

Create extension owner without postinitialization.
  core/extension/gdextension_interface.cpp
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.cpp
  core/object/object.h
Due: copyright-headers

Allow ClassDB to create a Object without postinitialization for GDExtension.
  core/extension/gdextension_interface.cpp
  core/object/class_db.cpp
  core/object/class_db.h
  core/object/object.cpp
  core/object/object.h
  modules/mono/editor/bindings_generator.cpp
  modules/mono/glue/GodotSharp/GodotSharp/Core/GodotObject.base.cs
  modules/mono/glue/GodotSharp/GodotSharp/Core/NativeInterop/NativeFuncs.cs
  modules/mono/glue/runtime_interop.cpp
Due: copyright-headers

Implement tooltips for shader uniform in the inspector.
  editor/editor_inspector.cpp
  editor/plugins/text_shader_editor.cpp
  scene/resources/shader.cpp
Due: copyright-headers

Allow setting editor dock tabs to icon only
  doc/classes/EditorPlugin.xml
  doc/classes/EditorSettings.xml
  editor/editor_dock_manager.cpp
  editor/editor_dock_manager.h
  editor/editor_node.cpp
  editor/editor_plugin.cpp
  editor/editor_plugin.h
  editor/editor_settings.cpp
Due: make-rst, copyright-headers

Path conditions:
  make-rst: any of: ^(doc|modules|platform).*xml$
  copyright-headers: any of: \.(c|h|cpp|hpp|cc|cxx|m|mm|inc|java)$, but not: (?x)^(
  tests/python_build.*|
  .*thirdparty.*|
  .*platform/android/java/lib/src/com.*|
  .*-so_wrap.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/GLSurfaceView.*|
  platform/android/java/lib/src/org/godotengine/godot/gl/EGLLogWrapper.*|
  platform/android/java/lib/src/org/godotengine/godot/utils/ProcessPhoenix.*
)

